<dt>
  {{name}} <i class="swatch" style="background-color:{{color}};"></i>

  <a class="edit" href="/item/{{key}}">Edit</a>
  <form method="post">
    <button formaction="/item/{{key}}/remove" type="submit">Delete</button>
  </form>
</dt>
<dd>
  <p class="description">{{description}}</p>

  <p>Used {{totalCount}} times ({{count}} since last wash).</p>

  {{#if hasWear}}
    <p>Last used <time datetime="{{wear}}">{{wearFmt}}</time></p>
  {{/if}}

  {{#if hasWash}}
    <p>Last washed <time datetime="{{wash}}">{{washFmt}}</time></p>
  {{/if}}
</dd>
